<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">

    <property name="encoding" value="UTF-8"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--
                <encoder class="net.logstash.logback.encoder.LogstashEncoder" charset="UTF-8"/>
        -->
        <encoder>　　　　　　　　
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>　　　　
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>